@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /*Permite declarar espaciado entre los elementos internos de un flexbox*/
}

.container>section {
    background-color: cadetblue;
}

/*
    @media - Permite declarar estilos que se aplican a un dispositivo en particular
        -> (min-width: 900px) - Estilos que se aplican a dispositivos con un ancho mínimo de 900px

*/
@media (min-width: 900px) {
    .container {
        flex-direction: row;
    }

    .container>section {
        width: 50%;
        background-color: lightcoral;
    }
}

/*
    Utility Class - Tipografía de Título
*/
.titulo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    /* 24px / 16 = 1.5rem */
    line-height: 100%;
}

/*
  Ejemplo de Diseño Responsivo - Mobile First
*/

.skills-container {
    width: 90%;
    max-width: 750px;
    margin: 16px auto;
    background-color: var(--color-white);
    padding: 16px;
    border-radius: 12px;
}

.skills-container h3 {
    color: var(--color-gray-2);
}

.skill h4 {
    margin: 0;
}

.skill {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--color-gray);
}

@media (min-width: 900px) {
    .skills {
        display: flex;
        justify-content: space-between;
    }

    .skills>div {
        width: 45%;
    }

    progress {
        padding: 4px;
    }
}

@media (min-width: 1200px) {
    .container>section {
        background-color: cornflowerblue;
    }
}

/*
    Diseño Responsivo Mobile First - Contenedor experiencia
*/

.experiencia {}

@media (min-width: 900px) {}

@media (min-width: 1200px) {}