:root {
    --color-red: #691b1b;
    /*
        :root -> Guarda la caja en una habitación a la que yo siempre pueda entrar
        -- -> Crea una caja
        color-red -> Ponele esta etiqueta para que yo la reconozca
        #ff0000 -> Guarda este color en esa caja
    */
    --color-blue: #2F80ED;
    --color-white: #FFFFFF;
    --color-gray: #828282;
    --color-gray-2: #4F4F4F;
}

.subrayado {
    text-decoration: underline;
    text-decoration-color: var(--color-red);
}

.subtitulo {
    color: var(--color-red);
}