header {
    background-image: url("https://cdn.pixabay.com/photo/2024/06/11/13/57/code-8823282_960_720.png");
    background-size: cover;
    height: 150px;
    color: aliceblue;
}

h1 {
    text-align: center;
    line-height: 150px;
    background-color: rgba(0, 0, 0, 0.3);
}