* {
    margin: 0;
}

body {
    padding: 8px 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    margin-bottom: 16px;
    margin-top: 8px;
}

.form-group {
    padding: 8px 0px;
}

select,
textarea {
    display: block;
    margin-bottom: 16px;
}

textarea {
    resize: none;
}