@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.cartel {
    height: 150px;
    line-height: 150px;
    background-color: cadetblue;
    color: #eee;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
}

.lista {
    display: flex;
    list-style-type: none;
}

#mi-super-lista {
    padding: 0;
}

#mi-super-lista>li {
    padding: 8px;
    border: 1px solid burlywood;
    margin: 0 8px;
    background-color: burlywood;
    border-radius: 16px;
    box-shadow: 5px 5px 16px gray;
}