/*
    Normalize = Resetear los estilos del navegador
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    padding-left: 24px;
    margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
p {
    margin-bottom: 16px;
}

header,
main,
footer {
    padding: 8px 16px;
}