.rotate,
.scale,
.translate {
    width: 150px;
    height: 150px;
    background-color: cadetblue;
    margin: 24px auto;
}

.rotate {
    border-top-right-radius: 24px;
    /*Al salir - Vuelvo orientación original. Aplico transición de salida*/
    transition: transform 0.5s ease-in-out;
}

.rotate:hover {
    /*Al entrar - Modifico orientación original. Aplico la transición de salida*/
    transform: rotate(180deg);
}

.scale {
    /*Al salir - Vuelvo al tamaño original. Aplico transición de salida*/
    transition: transform 0.5s ease-in-out;
}

.scale:hover {
    transform: scale(0.9);
}

.translate {
    margin: 0;
    /*Al salir - Vuelvo a la posición original. Aplico transición de salida*/
    transition: transform 0.5s ease-in-out;
}

.wrapper {
    border: 1px solid black;
    padding: 16px;
    margin-bottom: 16px;
}

.wrapper:hover>.translate {
    /*Al entrar - Modifico posición original. Aplico la transición de salida*/
    transform: translate(350px);
}