@use "../utils/functions" as function;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: clamp(function.rem(28), function.rem(16) + 2vw, function.rem(40));
}

h2 {
  font-size: clamp(
    function.rem(22),
    function.rem(14) + 1.5vw,
    function.rem(36)
  );
}

p {
  margin-top: 0;
  font-size: function.rem(16);
}
