@use "../utils/functions" as f;
@use "../utils/breakpoints" as b;

/*
    Nomenclatura BEM - Pensada para no repetir nombres de clase
        -> Block
        -> Element
        -> Modifier
*/

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: f.rem(40);
  margin: auto;
  width: min(100% - f.rem(40), f.rem(1000));

  //breakpoint computadora (Mixin) - @include = voy a usar un Mixin
  @include b.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
  }

  //.grid__main, .grid__sidebar
  &__main,
  &__sidebar {
    padding: 24px;
  }

  //.grid__main
  &__main {
    background-color: blue;
  }

  //.grid__sidebar
  &__sidebar {
    background-color: yellowgreen;
  }
}

// @media (min-width: 900px) {
//   .grid {
//     grid-template-columns: 2fr 1fr;
//   }
// }
